html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #777;
}

.bgimg-1 {
    background-image: url("../imgs/bg.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../imgs/bg2.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../imgs/bg3.jpg");
    min-height: 400px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.w3-top {
    line-height: 2;
}

.cat-list img {
    width: 217px;
    height: 150px;
}

.cat-list img:hover {
    cursor: pointer;
}
